<%= form_for(@project) do |f|  %>

	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_field :description %>
	</div>

	  <p>Rewards</p>
	  <div>
	    <%= f.label :image %>
	    <%= f.file_field :image %>
	  <div>

	  <%= f.fields_for :rewards do |r| %>
	    <%= render 'reward_fields', :f => r %>
	  <% end %>
	  </div>
  	</br>
	<div class="field">
		<%= f.label :funding_goal %><br />
		$<%= f.number_field :funding_goal %>
	</div>
	Project end date
	<div class="field">
		<%= f.datetime_select :end_date, ampm: true, default: 1.months.from_now, discard_hour: true, class: "form_fields" %><br>
	</div>

	<div>
		<%= f.hidden_field :start_date, :value => Time.now %>
	</div>
	<div>
		<%= f.hidden_field :owner, :value => current_user %>
	</div>
	<div class="action">
		<%= f.submit %>
	</div>

<% end %>
