<%= form_for(@project) do |project| %>

	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_field :description %>
	</div>

	<div class="field">
		<%= f.label :amount %><br />
		<%= f.number_field :amount %>
	</div>
	<div class="action">
		<%= f.sumbit %>
	</div>
<% end %>
