<h3>Projects</h3>

<div id="project_details">
	<% @projects.each do |individual_project| %>
		<div id="project_name">
		<%= link_to individual_project.name, projects_path(individual_project) %>
		</div>
		<div id="project_description">
			<%= truncate(individual_project.description, length: 60 ) {link_to "see more", project_paths(individual_project)} %>
		</div>
		<div id="project_funding">
			Funds raised: $<%= individual_project.amount_funded %> of $<%= individual_project.funding_goal %>
		</div>

	<% end %>

<%= link_to 'Back', projects_path %> |
<%= link_to 'Start a Project', "/projects/new" %>

