


<h1> <%= @project.name %></h1>

<!-- should we have images? videos? too lazy to look at the assignment. -->

<div id="project_description">
	<%= @project.description %>
</div>

<% if logged_in? %>
	<% if current_user == @project.owner %>
		<div>
		Your project is doing well! haha, just kidding
		</div>
		<div id="project_funding_status">
		Your project has raised $0 of $<%=@project.funding_goal%>! Congratulations!
		</div>
		<div id="project_timing_status">
		<% ending = @project.end_date %>
		<% current = DateTime.now.day %>
		Your project is due to end on <%=ending.day %>! That's only <%= ending - current %> days from now!

	<% else %>
	<% end %>
<% end %>
</div>

<%= link_to 'Back', projects_path %> |
<%= link_to 'Start a Project', "projects/new" %>