


<h1> <%= @project.name %></h1>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- should we have images? videos? too lazy to look at the assignment. -->

<div id="project_description">
	<%= @project.description %>
</div>

<div id="project_funding">
	Funds raised: $0 of $<%= @project.funding_goal %>
</div>

<!-- make this page prettier later -->

<% if logged_in? %>
	<% if current_user == @project.owner %>
		<div>
		Your project is doing well! haha, just kidding
		</div>
		<div id="project_timing">
		<% ending = @project.end_date %>
		<% current = DateTime.now %>
		<!-- There must be a better way to display dates in this format. Oh well! -->
		Your project is due to end on <%=ending.month%>/<%=ending.day%>/<%=ending.year%>! That's only <%= current - ending.day %> days from now!
		</div>


	<% else %>
		<form name="donate">
			<select name="mydropdown">
			<option value="5">$5</option>
			<option value="10">$10</option>
			<option value="20">$20</option>
			</select>
			<br><input type="submit" value="Donate to this project" onclick=""><br>
		</form>

	<% end %>
<% end %>
</div>

<%= link_to 'Back', projects_path %> |
<%= link_to 'Start a Project', "projects/new" %>